<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/shashiChad" target="_blank" rel="noopener">
          <i class="fa fa-github-square"></i>
                    </a>
            <a href="https://x.com/ShashiUtsav?s=09" target="_blank" rel="noopener">
            <i class="fa fa-twitter-square"></i>         
             </a>
            <a href="https://www.linkedin.com/in/shashi-bhushan-singh-35a509259/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin"></i>
            </a>

        </div>
<div>&copy; Wanderlust private limited</div>
<div class="f-info-links">
 <a href="/privacy">Privacy</a>
 <a href="/terms">Terms</a>
</div>
</div>
</footer>